{
  "openapi": "3.1.2",
  "info": {
    "title": "SerpAPI",
    "version": "1.0.0",
    "description": "Comprehensive OpenAPI specification for SerpAPI — the real-time search engine results API. Supports 107+ search engines including Google, Bing, Yahoo, YouTube, Amazon, Walmart, and more. All search endpoints use virtual paths (e.g., /search/google) that map to GET /search.json?engine=<engine>. See the x-serpapi-engine extension on each operation for the real engine parameter value.",
    "contact": {
      "name": "SerpAPI",
      "url": "https://serpapi.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://serpapi.com",
      "description": "SerpAPI Production Server"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Account Information",
        "description": "Returns account information including current plan, usage statistics, rate limits, and remaining quota. Free — does not count against your search quota.",
        "operationId": "getAccount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                },
                "examples": {
                  "demo-account": {
                    "summary": "Big Data Plan account",
                    "value": {
                      "account_id": "5ac54d6adefb2f1dba1663f5",
                      "api_key": "SECRET_API_KEY",
                      "account_email": "demo@serpapi.com",
                      "plan_id": "bigdata",
                      "plan_name": "Big Data Plan",
                      "plan_monthly_price": 250,
                      "plan_next_renewal_date": "2026-04-27",
                      "searches_per_month": 30000,
                      "plan_searches_left": 5958,
                      "extra_credits": 0,
                      "total_searches_left": 5958,
                      "this_month_usage": 24042,
                      "last_hour_searches": 42,
                      "account_rate_limit_per_hour": 6000
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Location Search",
        "description": "Find valid location strings for geo-targeted searches. Returns matching locations with Google-encoded UULE values, GPS coordinates, and reach estimates. Free — does not count against your search quota.",
        "operationId": "getLocations",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "description": "Location search query (e.g., 'Austin', 'London, UK')",
              "type": "string"
            },
            "description": "Location search query (e.g., 'Austin', 'London, UK')"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "description": "Maximum number of results (1-10)",
              "default": 5,
              "minimum": 1,
              "maximum": 10,
              "type": "integer"
            },
            "description": "Maximum number of results (1-10)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationResult"
                  }
                },
                "examples": {
                  "austin-locations": {
                    "summary": "Search for 'Austin'",
                    "value": [
                      {
                        "id": "200635",
                        "name": "Austin, Texas",
                        "canonical_name": "Austin,Texas,United States",
                        "country_code": "US",
                        "target_type": "DMA Region",
                        "reach": 5560000,
                        "gps": [
                          -97.7430608,
                          30.267153
                        ],
                        "keys": {
                          "google": "w+CAIQICIaQXVzdGluLFRleGFzLFVuaXRlZCBTdGF0ZXM"
                        }
                      },
                      {
                        "id": "1026437",
                        "name": "Austin, Indiana",
                        "canonical_name": "Austin,Indiana,United States",
                        "country_code": "US",
                        "target_type": "City",
                        "reach": 4370,
                        "gps": [
                          -85.8079979,
                          38.7583874
                        ],
                        "keys": {
                          "google": "w+CAIQICIdQXVzdGluLEluZGlhbmEsVW5pdGVkIFN0YXRlcw"
                        }
                      },
                      {
                        "id": "1026438",
                        "name": "Austin, Minnesota",
                        "canonical_name": "Austin,Minnesota,United States",
                        "country_code": "US",
                        "target_type": "City",
                        "reach": 24850,
                        "gps": [
                          -92.9746367,
                          43.6666296
                        ],
                        "keys": {
                          "google": "w+CAIQICIfQXVzdGluLE1pbm5lc290YSxVbml0ZWQgU3RhdGVz"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searches/{search_id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Search Archive",
        "description": "Retrieve past search results by their unique ID. Results are stored for 31 days after the original search. The response format matches the original engine's response schema.",
        "operationId": "getSearchArchive",
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "schema": {
              "description": "The unique search identifier returned in search_metadata.id",
              "type": "string"
            },
            "required": true,
            "description": "The unique search identifier returned in search_metadata.id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchArchiveResult"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SerpApiError"
                }
              }
            }
          }
        }
      }
    },
    "/search/apple_app_store": {
      "get": {
        "tags": [
          "Apple"
        ],
        "summary": "Apple App Store",
        "description": "Search via Apple App Store. Real API: GET /search.json?engine=apple_app_store",
        "operationId": "searchAppleAppStore",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "schema": {
              "description": "Parameter defines the query you want to search. You can use any search term that you would use in a regular App Store search. (e.g. `Coffee`)",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the query you want to search. You can use any search term that you would use in a regular App Store search. (e.g. `Coffee`)"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "description": "Parameter defines the country to use for the search. It's a two-letter country code. (e.g., `us` (default) for the United States, `uk` for United Kingdom, or `fr` for France). Head to the Apple Regions for a full list of supported Apple Regions. Valid values include: al, dz, ao, ai, ag, ar, am, au, at, az, and 145 more",
              "type": "string"
            },
            "description": "Parameter defines the country to use for the search. It's a two-letter country code. (e.g., `us` (default) for the United States, `uk` for United Kingdom, or `fr` for France). Head to the Apple Regions for a full list of supported Apple Regions. Valid values include: al, dz, ao, ai, ag, ar, am, au, at, az, and 145 more"
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "description": "Parameter defines the language to use for the search. It's a four-letter country code. (e.g., `en-us` (default) for the English, `fr-fr` for French, or `uk-ua` for Ukrainian). Head to the Apple Languages for a full list of supported Apple Languages. Valid values include: pt-br, it-it, hi-in, ca-es, es-es, zh-tw, th-th, da-dk, fi-fi, en-gb, and 29 more",
              "type": "string"
            },
            "description": "Parameter defines the language to use for the search. It's a four-letter country code. (e.g., `en-us` (default) for the English, `fr-fr` for French, or `uk-ua` for Ukrainian). Head to the Apple Languages for a full list of supported Apple Languages. Valid values include: pt-br, it-it, hi-in, ca-es, es-es, zh-tw, th-th, da-dk, fi-fi, en-gb, and 29 more"
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "description": "Parameter defines the number of results you want to get per each page. It defaults to `10`. Maximum number of results you can get per page is `200`. Any number greater than maximum number will default to `200`.",
              "type": "number"
            },
            "description": "Parameter defines the number of results you want to get per each page. It defaults to `10`. Maximum number of results you can get per page is `200`. Any number greater than maximum number will default to `200`."
          },
          {
            "name": "disallow_explicit",
            "in": "query",
            "schema": {
              "description": "Parameter defines the filter for disallowing explicit apps. It defaults to `false`.",
              "type": "boolean"
            },
            "description": "Parameter defines the filter for disallowing explicit apps. It defaults to `false`."
          },
          {
            "name": "property",
            "in": "query",
            "schema": {
              "description": "Parameter allows to search the property of an app. `developer` allows searching the developer title of an app ( e.g., property=`developer` and term=`Coffee` gives apps with \"Coffee\" in their developer's name. (Ex: `Coffee Inc.`)",
              "const": "developer",
              "type": "string"
            },
            "description": "Parameter allows to search the property of an app. `developer` allows searching the developer title of an app ( e.g., property=`developer` and term=`Coffee` gives apps with \"Coffee\" in their developer's name. (Ex: `Coffee Inc.`)"
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "description": "Parameter allows to only show app results for a specific category, or genre. E.g. category\\_id=`6014` will only return apps that have \"Games\" as at least one of their categories, or genres. Head to the Apple Categories for a full list of supported Apple Categories/Genres.. Valid values include: 6018, 6000, 6026, 6017, 6016, 6015, 6023, 6014, 7001, 7002, and 31 more",
              "type": "string"
            },
            "description": "Parameter allows to only show app results for a specific category, or genre. E.g. category\\_id=`6014` will only return apps that have \"Games\" as at least one of their categories, or genres. Head to the Apple Categories for a full list of supported Apple Categories/Genres.. Valid values include: 6018, 6000, 6026, 6017, 6016, 6015, 6023, 6014, 7001, 7002, and 31 more"
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser.",
              "type": "string"
            },
            "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser."
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Apple App Store results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Apple App Store results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Apple App Store search results"
                }
              }
            }
          }
        },
        "x-serpapi-engine": "apple_app_store",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/apple_product": {
      "get": {
        "tags": [
          "Apple"
        ],
        "summary": "Apple Product",
        "description": "Search via Apple Product. Real API: GET /search.json?engine=apple_product",
        "operationId": "searchAppleProduct",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "description": "Parameter defines the product id you want to search. You can use the specific id of a product that you would like to get the product page of.",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the product id you want to search. You can use the specific id of a product that you would like to get the product page of."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "description": "Parameter defines the type of Apple Product to get the product page of. It defaults to `app`.",
              "const": "app",
              "type": "string"
            },
            "description": "Parameter defines the type of Apple Product to get the product page of. It defaults to `app`."
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "description": "Parameter defines the country to use for the search. It's a two-letter country code. (e.g., `us` (default) for the United States, `uk` for United Kingdom, or `fr` for France). Head to the Apple Regions for a full list of supported Apple Regions.. Valid values include: al, dz, ao, ai, ag, ar, am, au, at, az, and 145 more",
              "type": "string"
            },
            "description": "Parameter defines the country to use for the search. It's a two-letter country code. (e.g., `us` (default) for the United States, `uk` for United Kingdom, or `fr` for France). Head to the Apple Regions for a full list of supported Apple Regions.. Valid values include: al, dz, ao, ai, ag, ar, am, au, at, az, and 145 more"
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Apple Product results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Apple Product results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Apple Product search results"
                }
              }
            }
          }
        },
        "x-serpapi-engine": "apple_product",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/apple_reviews": {
      "get": {
        "tags": [
          "Apple"
        ],
        "summary": "Apple Reviews",
        "description": "Search via Apple Reviews. Real API: GET /search.json?engine=apple_reviews",
        "operationId": "searchAppleReviews",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "description": "Parameter defines the ID of a product you want to get the reviews for. You can find the ID of a product from App Store API json results, You can also get it from the URL of the app. For example `product_id` of \"https://apps.apple.com/us/app/the-great-coffee-app/id534220544\", is the long numerical value that comes after \"id\", 534220544 (default).",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the ID of a product you want to get the reviews for. You can find the ID of a product from App Store API json results, You can also get it from the URL of the app. For example `product_id` of \"https://apps.apple.com/us/app/the-great-coffee-app/id534220544\", is the long numerical value that comes after \"id\", 534220544 (default)."
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "description": "Parameter defines the country to use for the search. It's a two-letter country code. (e.g., `us` (default) for the United States, `uk` for United Kingdom, or `fr` for France). Head to the Apple Regions for a full list of supported Apple Regions.. Valid values include: al, dz, ao, ai, ag, ar, am, au, at, az, and 145 more",
              "type": "string"
            },
            "description": "Parameter defines the country to use for the search. It's a two-letter country code. (e.g., `us` (default) for the United States, `uk` for United Kingdom, or `fr` for France). Head to the Apple Regions for a full list of supported Apple Regions.. Valid values include: al, dz, ao, ai, ag, ar, am, au, at, az, and 145 more"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "description": "Parameter is used to get the items on a specific page. (e.g., 1 (default) is the first page of results, 2 is the 2nd page of results, 3 is the 3rd page of results, etc.).",
              "type": "number"
            },
            "description": "Parameter is used to get the items on a specific page. (e.g., 1 (default) is the first page of results, 2 is the 2nd page of results, 3 is the 3rd page of results, etc.)."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "description": "Parameter is used for sorting reviews for the iOS App Store (iPhone and iPad). It can be set to:",
              "anyOf": [
                {
                  "const": "mostrecent",
                  "type": "string"
                },
                {
                  "const": "mosthelpful",
                  "type": "string"
                },
                {
                  "const": "mostfavorable",
                  "type": "string"
                },
                {
                  "const": "mostcritical",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for sorting reviews for the iOS App Store (iPhone and iPad). It can be set to:"
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Apple Reviews results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Apple Reviews results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Apple Reviews search results"
                }
              }
            }
          }
        },
        "x-serpapi-engine": "apple_reviews",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/baidu": {
      "get": {
        "tags": [
          "Baidu"
        ],
        "summary": "Baidu",
        "description": "Search via Baidu. Real API: GET /search.json?engine=baidu",
        "operationId": "searchBaidu",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "description": "Parameter defines the search query, including all Baidu search operators. (e.g., `inurl:`, `site:`, `intitle:`, etc.).",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the search query, including all Baidu search operators. (e.g., `inurl:`, `site:`, `intitle:`, etc.)."
          },
          {
            "name": "ct",
            "in": "query",
            "schema": {
              "description": "Parameter defines which language to restrict results. Available options: `1` - All languages `2` - Simplified Chinese `3` - Traditional Chinese",
              "anyOf": [
                {
                  "const": "1",
                  "type": "string"
                },
                {
                  "const": "2",
                  "type": "string"
                },
                {
                  "const": "3",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter defines which language to restrict results. Available options: `1` - All languages `2` - Simplified Chinese `3` - Traditional Chinese"
          },
          {
            "name": "pn",
            "in": "query",
            "schema": {
              "description": "Parameter defines the result offset. It skips the given number of results. It's used for pagination. (e.g., `0` (default) is the first page of results, `10` is the 2nd page of results, `20` is the 3rd page of results, etc.).",
              "type": "number"
            },
            "description": "Parameter defines the result offset. It skips the given number of results. It's used for pagination. (e.g., `0` (default) is the first page of results, `10` is the 2nd page of results, `20` is the 3rd page of results, etc.)."
          },
          {
            "name": "rn",
            "in": "query",
            "schema": {
              "description": "Parameter defines the maximum number of results to return, limited to 50. (e.g., `10` (default) returns 10 results, `30` returns 30 results, and `50` returns 50 results). This parameter is only available for **desktop and tablet** searches.",
              "type": "number"
            },
            "description": "Parameter defines the maximum number of results to return, limited to 50. (e.g., `10` (default) returns 10 results, `30` returns 30 results, and `50` returns 50 results). This parameter is only available for **desktop and tablet** searches."
          },
          {
            "name": "gpc",
            "in": "query",
            "schema": {
              "description": "Parameter defines the time period for results. (e.g., `stf=1767797961,1768402761|stftype=1` only returns results from the past 7 days. First integer within the parameter,`1767797961` is Unix Timestamp for 7 days ago. Second integer,`1768402761` is Unix Timestamp for now.).",
              "type": "string"
            },
            "description": "Parameter defines the time period for results. (e.g., `stf=1767797961,1768402761|stftype=1` only returns results from the past 7 days. First integer within the parameter,`1767797961` is Unix Timestamp for 7 days ago. Second integer,`1768402761` is Unix Timestamp for now.)."
          },
          {
            "name": "q5",
            "in": "query",
            "schema": {
              "description": "Similar to using `inurl:` or `intitle:`. (e.g., `1` to search by page title, `2` to search by web address.).",
              "type": "string"
            },
            "description": "Similar to using `inurl:` or `intitle:`. (e.g., `1` to search by page title, `2` to search by web address.)."
          },
          {
            "name": "q6",
            "in": "query",
            "schema": {
              "description": "Similar to using `site:`. (e.g., `q6=serpapi.com` to search for results only from the domain `serpapi.com`).",
              "type": "string"
            },
            "description": "Similar to using `site:`. (e.g., `q6=serpapi.com` to search for results only from the domain `serpapi.com`)."
          },
          {
            "name": "bs",
            "in": "query",
            "schema": {
              "description": "Defines the previous search query.",
              "type": "string"
            },
            "description": "Defines the previous search query."
          },
          {
            "name": "oq",
            "in": "query",
            "schema": {
              "description": "Defines the original search query when navigated from a related search.",
              "type": "string"
            },
            "description": "Defines the original search query when navigated from a related search."
          },
          {
            "name": "f",
            "in": "query",
            "schema": {
              "description": "Defines the originating search type. (e.g., `8` is a normal search, `3` is from the suggestion list, and `1` is a related search.",
              "type": "string"
            },
            "description": "Defines the originating search type. (e.g., `8` is a normal search, `3` is from the suggestion list, and `1` is a related search."
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser.",
              "type": "string"
            },
            "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser."
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Baidu results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Baidu results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Baidu search results"
                },
                "examples": {
                  "search-coffee": {
                    "summary": "Baidu example: search coffee",
                    "value": {
                      "search_metadata": {
                        "id": "5cfc676056794c051f463d6d",
                        "status": "Success",
                        "created_at": "2019-06-09 01:56:48 UTC",
                        "processed_at": "2019-06-09 01:56:48 UTC",
                        "baidu_url": "https://www.baidu.com/s?wd=coffee&oq=coffee&tn=baidu&ie=UTF-8",
                        "total_time_taken": 5.45
                      },
                      "search_parameters": {
                        "q": "coffee"
                      },
                      "search_information": {
                        "query_displayed": "coffee",
                        "total_results": 34600000
                      },
                      "organic_results": [
                        {
                          "position": 1,
                          "title": "coffee_百度百科",
                          "link": "http://www.baidu.com/link?url=DNWHTn_p1BapENFtevzgFns-9NaodAnMIxW0GXLuaFhvCD8iVYMd6eHchdrqN7SB",
                          "displayed_brand": "baike.baidu.com/",
                          "snippet": "简介：咖啡是用经过烘焙的咖啡豆制作出来的饮料，与可可、茶同为流行于世界的主要饮品。"
                        },
                        {
                          "position": 2,
                          "title": "The Best Coffee from Starbucks Coffee",
                          "link": "http://www.baidu.com/link?url=CpzBvhCO9_vRSW-Snvbm6jMj6oml26g_GhHZFTcGM0Jae70N_5GNK4Pk_98GFwzS",
                          "displayed_link": "https://www.starbucks.com/coffee",
                          "snippet": "Starbucks Coffee Finder. Our coffee masters have distilled their years of tasting knowledge..."
                        }
                      ],
                      "answer_box": [
                        {
                          "position": 1,
                          "title": "coffee_百度翻译",
                          "type": "dictionary_results",
                          "english_word": "coffee",
                          "british": {
                            "phonetic": "[ˈkɒfi]"
                          },
                          "american": {
                            "phonetic": "[ˈkɔːfi]"
                          },
                          "definitions": [
                            [
                              "n. (烘烤过的) 咖啡豆; 咖啡粉; 咖啡(热饮料); 一杯咖啡;"
                            ]
                          ]
                        }
                      ],
                      "pagination": {
                        "current": 1,
                        "next": "https://www.baidu.com/s?wd=coffee&pn=10"
                      },
                      "serpapi_pagination": {
                        "current": 1,
                        "next": "https://serpapi.com/search.json?device=desktop&engine=baidu&f=8&oq=coffee&pn=10&q=coffee"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-serpapi-engine": "baidu",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/baidu_news": {
      "get": {
        "tags": [
          "Baidu"
        ],
        "summary": "Baidu News",
        "description": "Search via Baidu News. Real API: GET /search.json?engine=baidu_news",
        "operationId": "searchBaiduNews",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "description": "Parameter defines the search query, including all Baidu search operators. (e.g., `inurl:`, `site:`, `intitle:`, etc.).",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the search query, including all Baidu search operators. (e.g., `inurl:`, `site:`, `intitle:`, etc.)."
          },
          {
            "name": "ct",
            "in": "query",
            "schema": {
              "description": "Parameter defines which language to restrict results. Available options: `1` - All Languages. `2` - Simplified Chinese `3` - Traditional Chinese.",
              "anyOf": [
                {
                  "const": "1",
                  "type": "string"
                },
                {
                  "const": "2",
                  "type": "string"
                },
                {
                  "const": "3",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter defines which language to restrict results. Available options: `1` - All Languages. `2` - Simplified Chinese `3` - Traditional Chinese."
          },
          {
            "name": "pn",
            "in": "query",
            "schema": {
              "description": "Parameter defines the result offset. It skips the given number of results. It's used for pagination. (e.g., `0` (default) is the first page of results, `10` is the 2nd page of results, `20` is the 3rd page of results, etc.).",
              "type": "number"
            },
            "description": "Parameter defines the result offset. It skips the given number of results. It's used for pagination. (e.g., `0` (default) is the first page of results, `10` is the 2nd page of results, `20` is the 3rd page of results, etc.)."
          },
          {
            "name": "rn",
            "in": "query",
            "schema": {
              "description": "Parameter defines the maximum number of results to return, limited to 50. (e.g., `10` (default) returns 10 results, `30` returns 30 results, and `50` returns 50 results).",
              "type": "number"
            },
            "description": "Parameter defines the maximum number of results to return, limited to 50. (e.g., `10` (default) returns 10 results, `30` returns 30 results, and `50` returns 50 results)."
          },
          {
            "name": "rtt",
            "in": "query",
            "schema": {
              "description": "Parameter defines the sort type for results. Available options: `1` - Sort by attraction (default) `4` - Sort by time",
              "anyOf": [
                {
                  "const": "1",
                  "type": "string"
                },
                {
                  "const": "4",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter defines the sort type for results. Available options: `1` - Sort by attraction (default) `4` - Sort by time"
          },
          {
            "name": "medium",
            "in": "query",
            "schema": {
              "description": "Parameter defines medium filtering for results. Available options: `0` - No filtering `1` - Show results from medium sites `2` - Show results from Baijiahao (baijiahao.baidu.com)",
              "anyOf": [
                {
                  "const": "0",
                  "type": "string"
                },
                {
                  "const": "1",
                  "type": "string"
                },
                {
                  "const": "2",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter defines medium filtering for results. Available options: `0` - No filtering `1` - Show results from medium sites `2` - Show results from Baijiahao (baijiahao.baidu.com)"
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Baidu News results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Baidu News results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Baidu News search results"
                }
              }
            }
          }
        },
        "x-serpapi-engine": "baidu_news",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/bing": {
      "get": {
        "tags": [
          "Bing"
        ],
        "summary": "Bing",
        "description": "Search via Bing. Real API: GET /search.json?engine=bing",
        "operationId": "searchBing",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "description": "Parameter defines the search query. You can use anything that you would use in a regular Bing search. (e.g., `'query'`, `NOT`, `OR`, `site:`, `filetype:`, `near:`, `ip:`, `loc:`, `feed:` etc.).",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the search query. You can use anything that you would use in a regular Bing search. (e.g., `'query'`, `NOT`, `OR`, `site:`, `filetype:`, `near:`, `ip:`, `loc:`, `feed:` etc.)."
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "description": "Parameter defines from where you want the search to originate. If several locations match the location requested, we'll pick the most popular one. Head to the /locations.json API if you need more precise control. The location and uule parameters can't be used together. It is recommended to specify location at the city level in order to simulate a real user’s search. If location is omitted, the search may take on the location of the proxy.",
              "type": "string"
            },
            "description": "Parameter defines from where you want the search to originate. If several locations match the location requested, we'll pick the most popular one. Head to the /locations.json API if you need more precise control. The location and uule parameters can't be used together. It is recommended to specify location at the city level in order to simulate a real user’s search. If location is omitted, the search may take on the location of the proxy."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "description": "Defines a GPS latitude for the search origin",
              "type": "number"
            },
            "description": "Defines a GPS latitude for the search origin"
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "description": "Defines a GPS longitude for the search origin",
              "type": "number"
            },
            "description": "Defines a GPS longitude for the search origin"
          },
          {
            "name": "mkt",
            "in": "query",
            "schema": {
              "description": "The market where the results come from (e.g. `en-US`). Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form -. For example, en-US. The string is case insensitive. For a list of possible market values, see Market Codes. NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.. Valid values include: es-ar, en-au, de-at, nl-be, fr-be, pt-br, en-ca, fr-ca, es-cl, da-dk, and 28 more",
              "type": "string"
            },
            "description": "The market where the results come from (e.g. `en-US`). Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form -. For example, en-US. The string is case insensitive. For a list of possible market values, see Market Codes. NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.. Valid values include: es-ar, en-au, de-at, nl-be, fr-be, pt-br, en-ca, fr-ca, es-cl, da-dk, and 28 more"
          },
          {
            "name": "cc",
            "in": "query",
            "schema": {
              "description": "Parameter defines the country to search from. It follows the 2-character ISO\\_3166-1 format. (e.g., `us` for United States, `de` for Germany, `gb` for United Kingdom, etc.).. Valid values include: AR, AU, AT, BE, BR, CA, CL, DK, FI, FR, and 26 more",
              "type": "string"
            },
            "description": "Parameter defines the country to search from. It follows the 2-character ISO\\_3166-1 format. (e.g., `us` for United States, `de` for Germany, `gb` for United Kingdom, etc.).. Valid values include: AR, AU, AT, BE, BR, CA, CL, DK, FI, FR, and 26 more"
          },
          {
            "name": "first",
            "in": "query",
            "schema": {
              "description": "Parameter controls the offset of the organic results. This parameter defaults to `1`. (e.g., `first=10` will move the 10th organic result to the first position).",
              "type": "number"
            },
            "description": "Parameter controls the offset of the organic results. This parameter defaults to `1`. (e.g., `first=10` will move the 10th organic result to the first position)."
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "description": "Parameter defines the level of filtering for adult content. It can be set to: `Off` to return webpages with adult text, images, or videos. `Moderate` to return webpages with adult text, but not adult images or videos. `Strict` to not return webpages with adult text, images, or videos.",
              "anyOf": [
                {
                  "const": "off",
                  "type": "string"
                },
                {
                  "const": "moderate",
                  "type": "string"
                },
                {
                  "const": "strict",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter defines the level of filtering for adult content. It can be set to: `Off` to return webpages with adult text, images, or videos. `Moderate` to return webpages with adult text, but not adult images or videos. `Strict` to not return webpages with adult text, images, or videos."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "description": "Parameter allows usage of a more complex filtering options such as filtering by date range `ex1:\"ez5_18169_18230\"` or using a specific display filters such as `ufn:\"Wunderman+Thompson\"+sid:\"5bede9a2-1bda-9887-e6eb-30b1b8b6b513\"+catguid:\"5bede9a2-1bda-9887-e6eb-30b1b8b6b513_cfb02057\"+segment:\"generic.carousel\"+entitysegment:\"Organization\"`. Exact values can be constructed by using Bing search and copying `filters` query parameter.",
              "type": "string"
            },
            "description": "Parameter allows usage of a more complex filtering options such as filtering by date range `ex1:\"ez5_18169_18230\"` or using a specific display filters such as `ufn:\"Wunderman+Thompson\"+sid:\"5bede9a2-1bda-9887-e6eb-30b1b8b6b513\"+catguid:\"5bede9a2-1bda-9887-e6eb-30b1b8b6b513_cfb02057\"+segment:\"generic.carousel\"+entitysegment:\"Organization\"`. Exact values can be constructed by using Bing search and copying `filters` query parameter."
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser.",
              "type": "string"
            },
            "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser."
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Bing results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Bing results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bing search results"
                },
                "examples": {
                  "search-coffee": {
                    "summary": "Bing example: search coffee",
                    "value": {
                      "search_metadata": {
                        "id": "6388c16740c4a97ebd51c24a",
                        "status": "Success",
                        "json_endpoint": "https://serpapi.com/searches/09d784a9c00ba057/6388c16740c4a97ebd51c24a.json",
                        "created_at": "2022-12-01 14:59:51 UTC",
                        "processed_at": "2022-12-01 14:59:51 UTC",
                        "bing_url": "https://www.bing.com/search?form=QBRE&q=Coffee",
                        "total_time_taken": 2.89
                      },
                      "search_parameters": {
                        "q": "Coffee",
                        "device": "desktop",
                        "engine": "bing"
                      },
                      "organic_results": [
                        {
                          "position": 1,
                          "link": "https://www.britannica.com/topic/coffee",
                          "title": "Coffee | Origin, Types, Uses, History, & Facts | Britannica",
                          "displayed_link": "https://www.britannica.com/topic/coffee",
                          "snippet": "Coffee, beverage brewed from the roasted and ground seeds of the tropical evergreen coffee plants of African origin.",
                          "cached_page_link": "https://cc.bingj.com/cache.aspx?q=Coffee&d=4924738525200733"
                        },
                        {
                          "position": 2,
                          "link": "https://en.wikipedia.org/wiki/Coffee",
                          "title": "Coffee - Wikipedia",
                          "displayed_link": "https://en.wikipedia.org/wiki/Coffee",
                          "rich_snippet": {
                            "extensions": [
                              "Ingredients: Roasted coffee beans",
                              "Introduced: 15th century",
                              "Region of origin: Horn of Africa and South Arabia"
                            ]
                          },
                          "snippet": "Coffee is a drink prepared from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans.",
                          "cached_page_link": "https://cc.bingj.com/cache.aspx?q=Coffee&d=4760194031881288"
                        },
                        {
                          "position": 3,
                          "link": "https://www.ncausa.org/About-Coffee/What-is-Coffee",
                          "title": "What is Coffee? - National Coffee Association",
                          "displayed_link": "https://www.ncausa.org/About-Coffee/What-is-Coffee",
                          "snippet": "Everyone recognizes a roasted coffee bean, but you might not recognize an actual coffee plant."
                        }
                      ],
                      "knowledge_graph": {
                        "title": "Coffee",
                        "type": "Drink",
                        "description": "A brewed drink prepared from roasted coffee beans."
                      },
                      "related_searches": [
                        {
                          "query": "what is the best tasting coffee"
                        },
                        {
                          "query": "health benefits of coffee study"
                        },
                        {
                          "query": "top 10 best tasting coffee"
                        }
                      ],
                      "pagination": {
                        "current": 1,
                        "next": "https://www.bing.com/search?q=Coffee&first=5&FORM=PORE"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-serpapi-engine": "bing",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/bing_copilot": {
      "get": {
        "tags": [
          "Bing"
        ],
        "summary": "Bing Copilot",
        "description": "Search via Bing Copilot. Real API: GET /search.json?engine=bing_copilot",
        "operationId": "searchBingCopilot",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "description": "Parameter defines the search query for Bing Copilot. You can use anything that you would use in a regular Bing Copilot search.",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the search query for Bing Copilot. You can use anything that you would use in a regular Bing Copilot search."
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Bing Copilot results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Bing Copilot results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bing Copilot search results"
                }
              }
            }
          }
        },
        "x-serpapi-engine": "bing_copilot",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/bing_images": {
      "get": {
        "tags": [
          "Bing"
        ],
        "summary": "Bing Images",
        "description": "Search via Bing Images. Real API: GET /search.json?engine=bing_images",
        "operationId": "searchBingImages",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "description": "Parameter defines the search query. You can use anything that you would use in a regular Bing Images search.",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the search query. You can use anything that you would use in a regular Bing Images search."
          },
          {
            "name": "mkt",
            "in": "query",
            "schema": {
              "description": "The market where the results come from (e.g. `en-US`). Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing Images API delivers results. The market must be in the form -. For example, en-US. The string is case insensitive. For a list of possible market values, see Market Codes. NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing Images API uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.. Valid values include: es-ar, en-au, de-at, nl-be, fr-be, pt-br, en-ca, fr-ca, es-cl, da-dk, and 28 more",
              "type": "string"
            },
            "description": "The market where the results come from (e.g. `en-US`). Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing Images API delivers results. The market must be in the form -. For example, en-US. The string is case insensitive. For a list of possible market values, see Market Codes. NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing Images API uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.. Valid values include: es-ar, en-au, de-at, nl-be, fr-be, pt-br, en-ca, fr-ca, es-cl, da-dk, and 28 more"
          },
          {
            "name": "cc",
            "in": "query",
            "schema": {
              "description": "Parameter defines the country to search from. It follows the 2-character ISO\\_3166-1 format. (e.g., `us` for United States, `de` for Germany, `gb` for United Kingdom, etc.).. Valid values include: AR, AU, AT, BE, BR, CA, CL, DK, FI, FR, and 26 more",
              "type": "string"
            },
            "description": "Parameter defines the country to search from. It follows the 2-character ISO\\_3166-1 format. (e.g., `us` for United States, `de` for Germany, `gb` for United Kingdom, etc.).. Valid values include: AR, AU, AT, BE, BR, CA, CL, DK, FI, FR, and 26 more"
          },
          {
            "name": "first",
            "in": "query",
            "schema": {
              "description": "Parameter controls the offset of the organic results. This parameter defaults to `1`. (e.g., `first=10` will move the 10th organic result to the first position).",
              "type": "number"
            },
            "description": "Parameter controls the offset of the organic results. This parameter defaults to `1`. (e.g., `first=10` will move the 10th organic result to the first position)."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "description": "Parameter controls the number of results per page. This parameter is only a suggestion and might not reflect the returned results.",
              "type": "number"
            },
            "description": "Parameter controls the number of results per page. This parameter is only a suggestion and might not reflect the returned results."
          },
          {
            "name": "imagesize",
            "in": "query",
            "schema": {
              "description": "Parameter is used for filtering images by size. It can be set to: `small` - Small `medium` - Medium `large` - Large `wallpaper` - Extra Large",
              "anyOf": [
                {
                  "const": "small",
                  "type": "string"
                },
                {
                  "const": "medium",
                  "type": "string"
                },
                {
                  "const": "large",
                  "type": "string"
                },
                {
                  "const": "wallpaper",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for filtering images by size. It can be set to: `small` - Small `medium` - Medium `large` - Large `wallpaper` - Extra Large"
          },
          {
            "name": "color2",
            "in": "query",
            "schema": {
              "description": "Parameter is used for filtering images by color. It can be set to: `color` - Color Only `bw` - Black & white `FGcls_RED` - Red `FGcls_ORANGE` - Orange `FGcls_YELLOW` - Yellow `FGcls_GREEN` - Green `FGcls_TEAL` - Teal `FGcls_BLUE` - Blue `FGcls_PURPLE` - Purple `FGcls_PINK` - Pink `FGcls_BROWN` - Brown `FGcls_BLACK` - Black `FGcls_GRAY` - Gray `FGcls_WHITE` - White",
              "anyOf": [
                {
                  "const": "color",
                  "type": "string"
                },
                {
                  "const": "bw",
                  "type": "string"
                },
                {
                  "const": "FGcls_RED",
                  "type": "string"
                },
                {
                  "const": "FGcls_ORANGE",
                  "type": "string"
                },
                {
                  "const": "FGcls_YELLOW",
                  "type": "string"
                },
                {
                  "const": "FGcls_GREEN",
                  "type": "string"
                },
                {
                  "const": "FGcls_TEAL",
                  "type": "string"
                },
                {
                  "const": "FGcls_BLUE",
                  "type": "string"
                },
                {
                  "const": "FGcls_PURPLE",
                  "type": "string"
                },
                {
                  "const": "FGcls_PINK",
                  "type": "string"
                },
                {
                  "const": "FGcls_BROWN",
                  "type": "string"
                },
                {
                  "const": "FGcls_BLACK",
                  "type": "string"
                },
                {
                  "const": "FGcls_GRAY",
                  "type": "string"
                },
                {
                  "const": "FGcls_WHITE",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for filtering images by color. It can be set to: `color` - Color Only `bw` - Black & white `FGcls_RED` - Red `FGcls_ORANGE` - Orange `FGcls_YELLOW` - Yellow `FGcls_GREEN` - Green `FGcls_TEAL` - Teal `FGcls_BLUE` - Blue `FGcls_PURPLE` - Purple `FGcls_PINK` - Pink `FGcls_BROWN` - Brown `FGcls_BLACK` - Black `FGcls_GRAY` - Gray `FGcls_WHITE` - White"
          },
          {
            "name": "photo",
            "in": "query",
            "schema": {
              "description": "Parameter is used for filtering images by image type. It can be set to: `photo` - Photo `clipart` - Clipart `linedrawing` - Line Drawing `animatedgif` - Animated GIF `animatedgifhttps` - Animated GIF HTTPS `transparent` - Transparent `shopping` - Shopping, return only images that contain items where Bing knows of a merchant that is selling the items",
              "anyOf": [
                {
                  "const": "photo",
                  "type": "string"
                },
                {
                  "const": "clipart",
                  "type": "string"
                },
                {
                  "const": "linedrawing",
                  "type": "string"
                },
                {
                  "const": "animatedgif",
                  "type": "string"
                },
                {
                  "const": "animatedgifhttps",
                  "type": "string"
                },
                {
                  "const": "transparent",
                  "type": "string"
                },
                {
                  "const": "shopping",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for filtering images by image type. It can be set to: `photo` - Photo `clipart` - Clipart `linedrawing` - Line Drawing `animatedgif` - Animated GIF `animatedgifhttps` - Animated GIF HTTPS `transparent` - Transparent `shopping` - Shopping, return only images that contain items where Bing knows of a merchant that is selling the items"
          },
          {
            "name": "aspect",
            "in": "query",
            "schema": {
              "description": "Parameter is used for filtering images by layout. It can be set to: `square` - Square `wide` - Wide `tall` - Tall",
              "anyOf": [
                {
                  "const": "square",
                  "type": "string"
                },
                {
                  "const": "wide",
                  "type": "string"
                },
                {
                  "const": "tall",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for filtering images by layout. It can be set to: `square` - Square `wide` - Wide `tall` - Tall"
          },
          {
            "name": "face",
            "in": "query",
            "schema": {
              "description": "Parameter is used for filtering images by people. It can be set to: `face` - Faces Only `portrait` - Head & Shoulders",
              "anyOf": [
                {
                  "const": "face",
                  "type": "string"
                },
                {
                  "const": "portrait",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for filtering images by people. It can be set to: `face` - Faces Only `portrait` - Head & Shoulders"
          },
          {
            "name": "age",
            "in": "query",
            "schema": {
              "description": "Parameter is used for filtering images by date. It can be set to: `lt1440` - Past 24 hours `lt10080` - Past week `lt43200` - Past month `lt525600` - Past year",
              "anyOf": [
                {
                  "const": "lt1440",
                  "type": "string"
                },
                {
                  "const": "lt10080",
                  "type": "string"
                },
                {
                  "const": "lt43200",
                  "type": "string"
                },
                {
                  "const": "lt525600",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for filtering images by date. It can be set to: `lt1440` - Past 24 hours `lt10080` - Past week `lt43200` - Past month `lt525600` - Past year"
          },
          {
            "name": "license",
            "in": "query",
            "schema": {
              "description": "Parameter is used for filtering images by license. It can be set to: `Type-Any` - All Creative Commons `L1` - Public Domain `L2_L3_L4_L5_L6_L7` - Free to share and use `L2_L3_L4` - Free to share and use commercially `L2_L3_L5_L6` - Free to modify, share and use `L2_L3` - Free to modify, share, and use commercially",
              "anyOf": [
                {
                  "const": "Type-Any",
                  "type": "string"
                },
                {
                  "const": "L1",
                  "type": "string"
                },
                {
                  "const": "L2_L3_L4_L5_L6_L7",
                  "type": "string"
                },
                {
                  "const": "L2_L3_L4",
                  "type": "string"
                },
                {
                  "const": "L2_L3_L5_L6",
                  "type": "string"
                },
                {
                  "const": "L2_L3",
                  "type": "string"
                }
              ]
            },
            "description": "Parameter is used for filtering images by license. It can be set to: `Type-Any` - All Creative Commons `L1` - Public Domain `L2_L3_L4_L5_L6_L7` - Free to share and use `L2_L3_L4` - Free to share and use commercially `L2_L3_L5_L6` - Free to modify, share and use `L2_L3` - Free to modify, share, and use commercially"
          },
          {
            "name": "device",
            "in": "query",
            "schema": {
              "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser.",
              "type": "string"
            },
            "description": "Parameter defines the device to use to get the results. It can be set to `desktop` (default) to use a regular browser, `tablet` to use a tablet browser (currently using iPads), or `mobile` to use a mobile browser."
          },
          {
            "name": "no_cache",
            "in": "query",
            "schema": {
              "description": "Parameter will force SerpApi to fetch the Bing Images results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together.",
              "type": "boolean"
            },
            "description": "Parameter will force SerpApi to fetch the Bing Images results even if a cached version is already present. A cache is served only if the query and all parameters are exactly the same. Cache expires after 1h. Cached searches are free, and are not counted towards your searches per month. It can be set to `false` (default) to allow results from the cache, or `true` to disallow results from the cache. no\\_cache and async parameters should not be used together."
          },
          {
            "name": "async",
            "in": "query",
            "schema": {
              "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled.",
              "type": "string"
            },
            "description": "Parameter defines the way you want to submit your search to SerpApi. It can be set to `false` (default) to open an HTTP connection and keep it open until you got your search results, or `true` to just submit your search to SerpApi and retrieve them later. In this case, you'll need to use our Searches Archive API to retrieve your results. async and no\\_cache parameters should not be used together. async should not be used on accounts with Ludicrous Speed enabled."
          },
          {
            "name": "zero_trace",
            "in": "query",
            "schema": {
              "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult.",
              "type": "string"
            },
            "description": "Enterprise only. Parameter enables ZeroTrace mode. It can be set to `false` (default) or `true`. Enable this mode to skip storing search parameters, search files, and search metadata on our servers. This may make debugging more difficult."
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved.",
              "type": "string"
            },
            "description": "Parameter defines the final output you want. It can be set to json (default) to get a structured `JSON` of the results, or `html` to get the raw html retrieved."
          },
          {
            "name": "json_restrictor",
            "in": "query",
            "schema": {
              "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details.",
              "type": "string"
            },
            "description": "Parameter defines the fields you want to restrict in the outputs for smaller, faster responses. See JSON Restrictor for more details."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bing Images search results"
                }
              }
            }
          }
        },
        "x-serpapi-engine": "bing_images",
        "x-serpapi-real-path": "/search.json"
      }
    },
    "/search/bing_maps": {
      "get": {
        "tags": [
          "Bing"
        ],
        "summary": "Bing Maps",
        "description": "Search via Bing Maps. Real API: GET /search.json?engine=bing_maps",
        "operationId": "searchBingMaps",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "description": "Parameter defines the search query. You can use anything that you would use in a regular Bing Maps search.",
              "type": "string"
            },
            "required": true,
            "description": "Parameter defines the search query. You can use anything that you would use in a regular Bing Maps search."
          },
          {
            "name": "cp",
            "in": "query",
            "schema": {
              "description": "Parameter defines GPS coordinates of location where you want your q (query) to be applied. It has to be constructed in the next sequence: `latitude` + `~` + `longitude` This will form a string that looks like this: e.g. `40.7455096~-74.0083012`.",
              "type": "string"
            },
            "description": "Parameter defines GPS coordinates of location where you want your q (query) to be applied. It has to be constructed in the next sequence: `latitude` + `~` + `longitude` This will form a string that looks like this: e.g. `40.7455096~-74.0083012`."
          },
          {
            "name": "setlang",
            "in": "query",
            "schema": {
              "description": "Parameter defines the language to search with. It follows the 2-character ISO\\_3166-1 format. (e.g., `us` for United States, `de` for Germany, `gb` for United Kingdom, etc.). You can view all supported language codes on Bing Maps.. Valid values include: ar, eu, bn, bg, ca, zh-hans, zh-hant, hr, cs, da, and 40 more",
              "type": "string"
            },
            "description": "Parameter defines the language to search with. It follows the 2-character ISO\\_3166-1 format. (e.g., `us` for United States, `de` for Germany, `gb` for United Kingdom, etc.). You can view all supported language codes on Bing Maps.. Valid values include: ar, eu, bn, bg, ca, zh-hans, zh-hant, hr, cs, da, and 40 more"
          },
          {
            "name": "place_id",
            "in": "query",
            "schema": {
              "description": "Parameter defines the unique reference to a place on a Bing Map. Place IDs are available for most locations, including businesses, landmarks, parks, and intersections. You can find the place\\_id using our Bing Maps API and Bing Local Pack API. place\\_id can be used without any other optional parameter including q parameter.",
              "type": "string"
            },
            "description": "Parameter defines the unique reference to a place on a Bing Map. Place IDs are available for most locations, including businesses, landmarks, parks, and intersections. You can find the place\\_id using our Bing Maps API and Bing Local Pack API. place\\_id can be used without any other optional parameter including q parameter."
          },
          {
            "name": "first",
            "in": "query",
            "schema": {
              "description": "Parameter controls the offset of the local results. This parameter defaults to `0`. (e.g. When `count=10`, the second page result start from `first=10`).",
              "type": "number"
            },
            "description": "Parameter controls the offset of the local results. This parameter defaults to `0`. (e.g. When `count=10`, the second page result start from `first=10`)."
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "description": "Parameter controls the number of results per page. This parameter is only a suggestion and might not reflect the returned results. Maximum results per page is `30`",
              "type": "number"
            },
[...]
